.side-bar {
  width: 200px;
  background-color: orange;
  height: 100%;
  a {
    text-decoration: none;
    font-size: 30px;
  }

  .side-bar-item {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 24px;
    color: white;
    display: flex;
    align-item: center;
    justify-content: center;
    border: 1px solid white;
  }
}
